html {
  background-color: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
  display: grid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  place-items: center;
}

body {
  width: 60ch;
  word-wrap: break-word;
}

section {
  margin-top: 2em;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.075em;
}

h2 {
  font-size: 1.25rem;
  letter-spacing: -0.05em;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid rgb(140, 140, 140);
  font-family: inherit;
  padding: 5px 10px;
}

button {
  background: rgb(52, 76, 153);
  border-radius: 3px;
  border: none;
  color: rgb(240, 240, 240);
  cursor: pointer;
  margin-top: 1em;
  padding: 0.5em;
}
